@import "pattern.css"; // 引入pattern样式

$grey-01: #6a6a6b;
$primary: #1976d2;

html body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

a {
  color: $grey-01;
}

a:hover,
a:focus,
a:active {
  color: $primary;
  cursor: pointer;
}

// 设置进度条样式
#nprogress {
  .bar {
    background-color: rgba(24, 160, 88, 90%);
  }

  .peg {
    box-shadow: 0 0 10px rgba(24, 160, 88, 90%), 0 0 5px rgba(24, 160, 88, 90%);
  }
}

.text-right {
  text-align: center;
}
